.signup-container{
    background-color:black ;
    height: 50vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    color: white;
    padding: 10px;
}
.signup-form{
    width: 100%;
}
.signup-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.signup-form form input{
    margin: 5px;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 60%;
    font-size: 16px;
    opacity: 0.9;
    background-color: whitesmoke;
}

.login-text{
    color: whitesmoke;
}
.login-text:hover{
    color: gray;
}